body {
  font-size: .875rem;
}

/*
 * Sidebar
 */

.modal ul {
  list-style-type: none;
}

.modal li a span {
  text-transform: capitalize;
  font-size: 12px;
  color: #666666;
  padding-left: 0.2em;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.folder img, .file img, .expand img, .collapse img {
  background-image: image('images/icon-sprite.png');
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

 .modal-content {
   z-index: -2!important;
 }

.ribbon {
  display: none;
  z-index: -1;
  top: 100px;
  left: 0px;
  position: absolute;
  width: 498px;
  height: 30px;
  background-color: #4285f4;
}
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: #F5F5F5;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

img {
  object-fit: none;
  object-position: 0 0;
  width: 14px;
  height: 14px;
}

.folder-img {
  object-position: 0px 0px;
}

.file-img {
  object-position: -28px 0px;
}

.private-folder-img {
  object-position: -14px 0px;
}

.expand-img {
  cursor: pointer;
  object-position: -56px 0px;
}

.expand-white-img {
  cursor: pointer;
  object-position: -56px 0px;
}

.collapse-img {
  cursor: pointer;
  object-position: -70px 0px;
}

.collapse-white-img {
  cursor: pointer;
  object-position: -70px 0px;
}

.close-img {
  cursor: pointer;
  object-position: -42px 0px;
}

/* Overwirting some other style */
.nav-link {
  padding: .2rem 0.1rem;
}

.private-folder a, .folder a {
  display: inline;
}

.nav-item {
  padding: 5px 5px;
}

.nav-item.active {
  /* background-color: #4285f4; */
  color: #FFF;
}

.nav-item.active a span {
  color: #FFF;
}

.fixed-top {
    position: fixed;
    top: 12px;
    right: 0;
    left: 0;
    z-index: 1030;
}